<link rel="stylesheet" href="~/css/login.css">

<div class="login">
    <form action="">
        <div class="voltar-login">
            <a href="">
                <img src="~/img/button esquerda.png" alt="">
            </a>
        </div>
        <div class="text-login">
            <h1 style="color: #8E56E0;">Bem vindo!</h1>
            <h4>Digite seu email e senha para efetuar o login.</h4>
        </div>
        <div class="inputs">
            <div>
                <h2>Digite seu email</h2>
                <input type="text">
            </div>
            <div>
                <h2>Digite sua senha</h2>
                <input type="text">
            </div>
        </div>
        <div class="btn">
            <input type="button" value="Entrar">
        </div>
    </form>
</div>