@{
    ViewData["Title"] = "Home";
}
<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/yasuo.jpg" class="d-block w-100" alt="1">
        </div>
        <div class="carousel-item">
            <img src="~/img/yone.jpg" class="d-block w-100" alt="2">
        </div>
        <div class="carousel-item">
            <img src="~/img/yone.jpg" class="d-block w-100" alt="3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="" aria-hidden="true"><img src="~/img/button esquerda.png" alt="" style="width: 80px;"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="" aria-hidden="true"><img src="~/img/button direita.png" alt="" style="width: 80px;"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>