<link rel="stylesheet" href="~/css/produto.css">

<div class="produto">
    <div class="btn-voltar">
        <img src="button esquerda.png" alt="">
    </div>
    <div class="card-produto">
        <div class="image-produto">
            <img src="~/img/yasuo.jpg" alt="">
        </div>
        <div class="org-texts">
            <div class="fav-produto">
                <img src="~/img/FAVORITAR.png" alt="">
            </div>
            <div class="text-produto">
                <h3>Camiseta anime Toga Himiko Boku no Hero/My hero Academyaaaaaaaaaaa</h3>
            </div>
            <div class="text-preco">
                <h2>R$ 10</h2>
            </div>
            <div class="btns">
                <button>Comprar agora</button>
                <button>Adicionar ao carrinho</button>
            </div>
        </div>
    </div>
    <div class="org-pc">
    </div>
</div>